*{
  padding: 0;
  margin: 0;
}
.main{
  width: 100%;
  height: 250px;
  top: 20px;
  background: linear-gradient(to right, #FF5E3A, #FF9966, #C06C84);
  box-shadow: 0px 0px 10px 2px rosybrown;
  overflow: hidden;
  position: relative;
}
.sun{
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #d0c361 30%, #FFD700 60%, #FFB400 90%);
  box-shadow: 0px 0px 30px 10px #FF4500;
  border: 1px transparent;
  position: absolute;
  top: 50px;
  left: -15px;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.cloud1{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0.5;
  animation-name: cloud1;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud2{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 300px;
  opacity: 0.5;
  animation-name: cloud2;
  animation-duration: 2.5s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.cloud3{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 70px;
  right: -30px;
  opacity: 0.5;
  animation-name: cloud3;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes cloud1{
  from{
     top: 50px;
     left: 20px;
     opacity: 0.5;
  }
  to{
     top: 40px;
     left: 110%;
     opacity: 1;
  }
}
@keyframes cloud2{
  from{
     top: 50px;
     left: 300px;
     opacity: 0.5;
  }
  to{
     top: 20px;
     left: 110%;
     opacity: 1;
  }
}
@keyframes cloud3{
  from{
    top: 70px;
    right: -30px;
    opacity: 0.5;
  }
  to{
     top: 30px;
     right: 110%;
     opacity: 1;
  }
}
@keyframes sun{
  from{
    top: 50px;
    left: -15px;
  }
  to{
     top: 50px;
     left: 110%;
  }
}