* {
  padding: 0;
  margin: 0;
}

.main {
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  max-height: 300px;
  background-color: rgb(119, 51, 16);
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
  padding: 2px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.main div {
  /* padding: 30px; */
  font-size: 20px;
  background-color: wheat;
  border: 1px solid black;

}

#one {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-row-start: 1;
  grid-row-end: 8;
}

.main2 {
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  max-height: 300px;
  background-color: rgb(119, 51, 16);
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
  padding: 2px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.main div {
  /* padding: 30px; */
  font-size: 20px;
  background-color: wheat;
  border: 1px solid black;

}

#one {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-row-start: 1;
  grid-row-end: 8;
}