.main{
  width: 450px;
  height: 50px;
  background-color: #ef5938;
  color: white;
  font-weight: 100px;
  font-size: 22px;
  text-align:justify;
  word-spacing: 5px;
  text-decoration:underline;
  text-transform:uppercase;
  border-radius: 10px;
}
.yo{
   width: 450px;
  height: 180px;
  background-color:rgb(138, 26, 170);
  color: white;
  font-weight: 100px;
  font-size: 20px;
  text-align:justify;
  word-spacing: 5px;
  text-transform:uppercase;
  border-radius: 10px;
  margin-top: 6px;
  float: left;
}
.to{
   width: 450px;
  height: 310px;
  background-color:rgb(6, 158, 62);
  color: white;
  font-weight: 100px;
  font-size: 30px;
  text-align:justify;
  word-spacing: 0px;
  border-radius: 10px;
  margin-top: 30px;
  float: left;
}
