.margin{
  width: 400px;
  height: 200px;
  border-left: 5px solid #740058;
  border-right: 5px solid #8d006b;
  border-top: 5px solid #b00085;
  border-bottom: 5px solid 	#ce009b ;
  border-radius: 3.5px;
  transform: translate(20px,20px);
  box-shadow: 0px 0px 15px 1.5px #A00079;
}
.margin1{
  width:330px ;
  height: 130px;
  color:whitesmoke;
  background-image: url('../1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: scroll;
  font-style: italic;
  font-weight:lighter;
  overflow-y: scroll ;
  overflow-x: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  border: 6px solid rgb(130, 23, 188);
  border-radius: 5px; 
  margin: 15px 15px 15px 15px ;
  box-shadow: 0px 0px 10px 3px #6C553E;
  padding: 15px 15px 15px 15px;
}
/* .margin1:hover{
  width:330px ;
  height: 130px;
  background-color: rgb(159, 198, 233);
  color: white;
  text-shadow: none;
} */
/* .bg {
  width: 100%;
  height: 100%;
  border: 4px solid palegreen;
  padding: 13px;
  color: rgba(36, 171, 12, 0.8);
  font-size: x-large;
  background-image: url('../1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} */
